
.MovieInfoWrapper {
    display: flex;
    padding: 50px;

}

.Fond {

    color: snow;
    padding: 10px 0 5px 10px;
    font-size: larger;

}

.Overview {
    font-size: x-large;
    font-style: italic;
    font-weight: bold;

}