.MovieListWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
    background-color: aliceblue;
}

.Pages {
    margin: 20px;

}

.Page {
    border: 1px solid azure;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: aliceblue;
}

/*.CurrentPage {*/
/*    !*border: 2px solid grey;*!*/
/*    background-color: coral;*/
/*}*/